body {
  background-color: azure;
}

img {
  width: 100%;
  height: 250px;
}

.grey-out {
  opacity: 0.4;
}

.department-title {
  color: black;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 36px;
}

.department {
  margin: 15px 0 15px 0;
}

.item .panel {
  height: 200px;
}

.item-image {
  height: 100px;
  width: 100px;
}